# New York Foodies

In [16]:
# Import Dependencies 
import os 
import csv 
import pandas as pd 
from matplotlib import pyplot as plt
from scipy import stats
import numpy as np
import random
import json
import requests

In [17]:
# Read CSV File 
food_data_df = pd.read_csv('../Project 1/food_order.csv')
food_data_df

,order_id,customer_id,restaurant_name,cuisine_type,cost_of_the_order,day_of_the_week,rating,food_preparation_time,delivery_time
0,1477147,337525,Hangawi,Korean,30.75,Weekend,Not given,25,20
1,1477685,358141,Blue Ribbon Sushi Izakaya,Japanese,12.08,Weekend,Not given,25,23
2,1477070,66393,Cafe Habana,Mexican,12.23,Weekday,5,23,28
3,1477334,106968,Blue Ribbon Fried Chicken,American,29.20,Weekend,3,25,15
4,1478249,76942,Dirty Bird to Go,American,11.59,Weekday,4,25,24
...,...,...,...,...,...,...,...,...,...
1893,1476701,292602,Chipotle Mexican Grill $1.99 Delivery,Mexican,22.31,Weekend,5,31,17
1894,1477421,397537,The Smile,American,12.18,Weekend,5,31,19
1895,1477819,35309,Blue Ribbon Sushi,Japanese,25.22,Weekday,Not given,31,24
1896,1477513,64151,Jack's Wife Freda,Mediterranean,12.18,Weekday,5,23,31
1897,1478056,120353,Blue Ribbon Sushi,Japanese,19.45,Weekend,Not given,28,24

In [ ]:
# Set the variables 

# # Add variables 
# order_id = food_data_df['order_id']
# customer_df = food_data_df['customer_id']
# food_type = food_data_df['cuisine_type']
# restaurant_df = food_data_df['restaurant_name']
# cost_df = food_data_df['cost_of_the_order']
# day_of_week = food_data_df['day_of_the_week']
# ratings = food_data_df['rating']
# prep_time = food_data_df['food_preparation_time']
# deliv_time = food_data_df['delivery_time']

In [18]:
# Count values to determine if there are inconsistencies on the numbers to verify what needs to be cleaned
food_data_df.count()

order_id                 1898
customer_id              1898
restaurant_name          1898
cuisine_type             1898
cost_of_the_order        1898
day_of_the_week          1898
rating                   1898
food_preparation_time    1898
delivery_time            1898
dtype: int64

In [20]:
# Changed index to Restaurant Name
food_data_df.set_index(['restaurant_name'],inplace=True)

KeyError: "None of ['restaurant_name'] are in the columns"

In [8]:
# Describe the Data Set 
food_data_df.describe()

,order_id,customer_id,cost_of_the_order,food_preparation_time,delivery_time
count,1.898000e+03,1898.000000,1898.000000,1898.000000,1898.000000
mean,1.477496e+06,171168.478398,16.498851,27.371970,24.161749
std,5.480497e+02,113698.139743,7.483812,4.632481,4.972637
min,1.476547e+06,1311.000000,4.470000,20.000000,15.000000
25%,1.477021e+06,77787.750000,12.080000,23.000000,20.000000
50%,1.477496e+06,128600.000000,14.140000,27.000000,25.000000
75%,1.477970e+06,270525.000000,22.297500,31.000000,28.000000
max,1.478444e+06,405334.000000,35.410000,35.000000,33.000000

In [10]:
# Dropped the columns for the order_id and customer_id to be able to have a clear data set 
#(this is optional if needed it can be removed)

food_data_df.drop(columns=['order_id','customer_id'],inplace=True)

KeyError: "['order_id', 'customer_id'] not found in axis"

In [ ]:
# Below are the restaurants with the symbols at the end, my purpose is to try and remove the symbol at the end 
#(this is optional if needed it can be removed)

food_data_df[food_data_df.restaurant_name.isin(["Joe's Shanghai \x8e_Ã€\x8eÃ¼Â£Â¾Ã·Â´",'Big Wong Restaurant \x8c_Â¤Â¾Ã‘Â¼'])]