# New York Foodies

In [1]:
# Import Dependencies 
import os 
import csv 
import pandas as pd 
from matplotlib import pyplot as plt
from scipy import stats
import numpy as np
import random
import json
import requests

In [2]:
# Read CSV File 
food_data_df = pd.read_csv('food_order.csv')
food_data_df

,order_id,customer_id,restaurant_name,cuisine_type,cost_of_the_order,day_of_the_week,rating,food_preparation_time,delivery_time
0,1477147,337525,Hangawi,Korean,30.75,Weekend,Not given,25,20
1,1477685,358141,Blue Ribbon Sushi Izakaya,Japanese,12.08,Weekend,Not given,25,23
2,1477070,66393,Cafe Habana,Mexican,12.23,Weekday,5,23,28
3,1477334,106968,Blue Ribbon Fried Chicken,American,29.20,Weekend,3,25,15
4,1478249,76942,Dirty Bird to Go,American,11.59,Weekday,4,25,24
...,...,...,...,...,...,...,...,...,...
1893,1476701,292602,Chipotle Mexican Grill $1.99 Delivery,Mexican,22.31,Weekend,5,31,17
1894,1477421,397537,The Smile,American,12.18,Weekend,5,31,19
1895,1477819,35309,Blue Ribbon Sushi,Japanese,25.22,Weekday,Not given,31,24
1896,1477513,64151,Jack's Wife Freda,Mediterranean,12.18,Weekday,5,23,31
1897,1478056,120353,Blue Ribbon Sushi,Japanese,19.45,Weekend,Not given,28,24

In [3]:
# Count values to determine if there are inconsistencies on the numbers to verify what needs to be cleaned
food_data_df.count()

order_id                 1898
customer_id              1898
restaurant_name          1898
cuisine_type             1898
cost_of_the_order        1898
day_of_the_week          1898
rating                   1898
food_preparation_time    1898
delivery_time            1898
dtype: int64

In [4]:
# Describe the Data Set 
food_data_df.describe()

,order_id,customer_id,cost_of_the_order,food_preparation_time,delivery_time
count,1.898000e+03,1898.000000,1898.000000,1898.000000,1898.000000
mean,1.477496e+06,171168.478398,16.498851,27.371970,24.161749
std,5.480497e+02,113698.139743,7.483812,4.632481,4.972637
min,1.476547e+06,1311.000000,4.470000,20.000000,15.000000
25%,1.477021e+06,77787.750000,12.080000,23.000000,20.000000
50%,1.477496e+06,128600.000000,14.140000,27.000000,25.000000
75%,1.477970e+06,270525.000000,22.297500,31.000000,28.000000
max,1.478444e+06,405334.000000,35.410000,35.000000,33.000000

In [5]:
columns = ['order_id', 'customer_id']

In [6]:
food_data_df.drop(columns=columns,inplace=True)

In [7]:
Clean_data=food_data_df.loc[food_data_df['rating']!='Not given']

In [8]:
Clean_data.head()

,restaurant_name,cuisine_type,cost_of_the_order,day_of_the_week,rating,food_preparation_time,delivery_time
2,Cafe Habana,Mexican,12.23,Weekday,5,23,28
3,Blue Ribbon Fried Chicken,American,29.20,Weekend,3,25,15
4,Dirty Bird to Go,American,11.59,Weekday,4,25,24
5,Tamarind TriBeCa,Indian,25.22,Weekday,3,20,24
7,Barbounia,Mediterranean,5.97,Weekday,3,33,30

In [10]:
Clean_data.dtypes

restaurant_name           object
cuisine_type              object
cost_of_the_order        float64
day_of_the_week           object
rating                    object
food_preparation_time      int64
delivery_time              int64
dtype: object

In [9]:
# Below are the restaurants with the symbols at the end, my purpose is to try and remove the symbol at the end 
#(this is optional if needed it can be removed)

food_data_df[food_data_df.restaurant_name.isin(["Joe's Shanghai \x8e_À\x8eü£¾÷´",'Big Wong Restaurant \x8c_¤¾Ñ¼'])]

,restaurant_name,cuisine_type,cost_of_the_order,day_of_the_week,rating,food_preparation_time,delivery_time
10,Big Wong Restaurant _¤¾Ñ¼,Chinese,5.92,Weekday,Not given,34,28
107,Joe's Shanghai _Àü£¾÷´,Chinese,15.81,Weekend,5,20,26
810,Joe's Shanghai _Àü£¾÷´,Chinese,16.10,Weekend,5,31,22
1377,Joe's Shanghai _Àü£¾÷´,Chinese,16.15,Weekend,3,33,20
1600,Joe's Shanghai _Àü£¾÷´,Chinese,22.31,Weekday,3,27,31

In [10]:
Clean_data['rating'] = Clean_data['rating'].astype("int")

C:\Users\14075\AppData\Local\Temp\ipykernel_289008\1221967560.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Clean_data['rating'] = Clean_data['rating'].astype("int")

In [13]:
Clean_data.dtypes

restaurant_name           object
cuisine_type              object
cost_of_the_order        float64
day_of_the_week           object
rating                     int32
food_preparation_time      int64
delivery_time              int64
dtype: object

In [11]:
#group by cuisine type

cuisine_df = Clean_data.groupby(['cuisine_type'])

In [23]:
cuisine_df.mean()

C:\Users\14075\AppData\Local\Temp\ipykernel_320408\717732895.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  cuisine_df.mean()

,cost_of_the_order,rating,food_preparation_time,delivery_time
cuisine_type,,,,
American,16.812989,4.298913,27.388587,24.396739
Chinese,16.186541,4.338346,27.977444,23.496241
French,20.087000,4.300000,26.600000,25.100000
Indian,16.663400,4.540000,26.280000,23.300000
Italian,17.135930,4.360465,27.627907,25.209302
Japanese,16.345641,4.373626,27.652015,23.743590
Korean,13.142222,4.111111,25.333333,21.111111
Mediterranean,15.892500,4.218750,27.875000,23.187500
Mexican,16.319375,4.416667,25.854167,24.770833
Middle Eastern,20.075882,4.235294,26.676471,24.617647
Southern,18.806154,4.307692,27.153846,22.615385
Spanish,19.718333,4.833333,25.333333,22.500000
Thai,19.185556,4.666667,26.888889,23.000000
Vietnamese,12.806000,4.000000,24.200000,27.200000

In [24]:
rating_df = Clean_data.groupby(['rating'])

In [25]:
rating_df.describe()

       cost_of_the_order                                                       \
                   count       mean       std   min      25%     50%      75%
rating
3                  188.0  16.223351  7.840886  4.75  12.0425  14.120  21.8300
4                  386.0  16.710337  7.632996  4.75  12.1300  14.160  22.7875
5                  588.0  16.965697  7.448696  4.47  12.1300  15.205  22.8000

              food_preparation_time             ...               \
          max                 count       mean  ...    75%   max
rating                                          ...
3       33.37                 188.0  27.430851  ...  32.00  35.0
4       35.41                 386.0  27.396373  ...  31.75  35.0
5       33.03                 588.0  27.355442  ...  32.00  35.0

       delivery_time
               count       mean       std   min   25%   50%   75%   max
rating
3              188.0  24.558511  4.652845  15.0  21.0  25.0  28.0  33.0
4              386.0  23.867876  4.923377  15.0  20.0  24.0  28.0  33.0
5              588.0  24.212585  5.018607  15.0  20.0  25.0  28.0  33.0

[3 rows x 24 columns]

In [18]:
cuisine_df.describe()

               cost_of_the_order                                               \
                           count       mean       std    min      25%     50%
cuisine_type
American                   368.0  16.812989  7.567816   4.75  12.1300  15.305
Chinese                    133.0  16.186541  7.342326   4.75  12.1300  14.160
French                      10.0  20.087000  8.170813  11.98  12.1925  17.825
Indian                      50.0  16.663400  7.937862   5.34   9.8550  15.960
Italian                    172.0  17.135930  7.348053   5.72  12.1300  14.770
Japanese                   273.0  16.345641  7.572002   4.47  11.8300  14.070
Korean                       9.0  13.142222  6.552291   5.77  11.8400  12.180
Mediterranean               32.0  15.892500  7.485357   5.67  12.1675  13.995
Mexican                     48.0  16.319375  8.078039   4.85  11.3475  13.580
Middle Eastern              34.0  20.075882  8.139889   5.77  13.6925  17.970
Southern                    13.0  18.806154  7.684755   7.38  14.1200  16.110
Spanish                      6.0  19.718333  6.975068  12.13  13.7650  19.455
Thai                         9.0  19.185556  7.756370   9.46  12.3700  19.350
Vietnamese                   5.0  12.806000  6.475085   6.01   7.9600  12.130

                               rating            ... food_preparation_time  \
                    75%    max  count      mean  ...                   75%
cuisine_type                                     ...
American        22.8500  33.03  368.0  4.298913  ...                 31.00
Chinese         20.8600  33.03  133.0  4.338346  ...                 32.00
French          29.1375  29.25   10.0  4.300000  ...                 30.00
Indian          23.8375  31.43   50.0  4.540000  ...                 29.75
Italian         22.8000  33.03  172.0  4.360465  ...                 32.00
Japanese        22.2600  33.37  273.0  4.373626  ...                 32.00
Korean          12.6100  29.25    9.0  4.111111  ...                 26.00
Mediterranean   16.3450  35.41   32.0  4.218750  ...                 33.00
Mexican         20.5500  33.32   48.0  4.416667  ...                 28.25
Middle Eastern  28.1050  32.93   34.0  4.235294  ...                 29.75
Southern        24.2000  31.43   13.0  4.307692  ...                 33.00
Spanish         24.6275  29.05    6.0  4.833333  ...                 27.50
Thai            24.2000  29.20    9.0  4.666667  ...                 31.00
Vietnamese      15.6700  22.26    5.0  4.000000  ...                 25.00

                     delivery_time                                          \
                 max         count       mean       std   min    25%   50%
cuisine_type
American        35.0         368.0  24.396739  4.697404  15.0  21.00  25.0
Chinese         35.0         133.0  23.496241  5.061177  15.0  19.00  24.0
French          35.0          10.0  25.100000  3.842742  17.0  23.25  25.5
Indian          35.0          50.0  23.300000  4.953869  15.0  18.25  24.0
Italian         35.0         172.0  25.209302  4.904029  15.0  22.00  26.0
Japanese        35.0         273.0  23.743590  5.033729  15.0  20.00  24.0
Korean          33.0           9.0  21.111111  4.884784  16.0  16.00  21.0
Mediterranean   35.0          32.0  23.187500  5.257483  15.0  19.00  23.5
Mexican         35.0          48.0  24.770833  4.572069  17.0  21.00  25.0
Middle Eastern  34.0          34.0  24.617647  5.979838  15.0  18.50  25.5
Southern        35.0          13.0  22.615385  5.140338  15.0  21.00  24.0
Spanish         30.0           6.0  22.500000  4.549725  17.0  20.00  22.0
Thai            35.0           9.0  23.000000  4.213075  15.0  20.00  24.0
Vietnamese      33.0           5.0  27.200000  2.774887  24.0  26.00  26.0


                  75%   max
cuisine_type
American        28.00  33.0
Chinese         28.00  33.0
French          28.00  29.0
Indian          26.00  32.0
Italian         29.00  33.0
Japanese        28.00  33.0
Korean          26.00  26.0
Mediterranean   28.25  33.0
Mexican         28.25  33.0
Middle Eastern  29.00  33.0
Southern        26.00  29.0
Spanish         24.00  30.0
Thai            26.00  28.0
Vietnamese      29.00  31.0

[14 rows x 32 columns]

In [26]:
food_data_df.head()

,restaurant_name,cuisine_type,cost_of_the_order,day_of_the_week,rating,food_preparation_time,delivery_time
0,Hangawi,Korean,30.75,Weekend,Not given,25,20
1,Blue Ribbon Sushi Izakaya,Japanese,12.08,Weekend,Not given,25,23
2,Cafe Habana,Mexican,12.23,Weekday,5,23,28
3,Blue Ribbon Fried Chicken,American,29.20,Weekend,3,25,15
4,Dirty Bird to Go,American,11.59,Weekday,4,25,24

In [20]:
res_name = Clean_data.groupby(['restaurant_name'])

In [21]:
res_name.describe()

                 cost_of_the_order                                        \
                             count       mean        std    min      25%
restaurant_name
'wichcraft                     1.0   8.100000        NaN   8.10   8.1000
12 Chairs                      2.0  22.675000   9.015611  16.30  19.4875
5 Napkin Burger                2.0  27.135000   2.708219  25.22  26.1775
67 Burger                      1.0  29.050000        NaN  29.05  29.0500
Amma                           2.0  20.155000  15.945258   8.88  14.5175
...                            ...        ...        ...    ...      ...
Zero Otto Nove                 1.0  12.180000        NaN  12.18  12.1800
brgr                           1.0   5.720000        NaN   5.72   5.7200
da Umberto                     1.0  12.270000        NaN  12.27  12.2700
ilili Restaurant              13.0  21.573077   8.378503   9.46  13.7300
indikitch                      2.0  11.665000   3.401184   9.26  10.4625

                                         rating            ...  \
                     50%      75%    max  count      mean  ...
restaurant_name                                            ...
'wichcraft         8.100   8.1000   8.10    1.0  5.000000  ...
12 Chairs         22.675  25.8625  29.05    2.0  4.500000  ...
5 Napkin Burger   27.135  28.0925  29.05    2.0  4.000000  ...
67 Burger         29.050  29.0500  29.05    1.0  5.000000  ...
Amma              20.155  25.7925  31.43    2.0  4.500000  ...
...                  ...      ...    ...    ...       ...  ...
Zero Otto Nove    12.180  12.1800  12.18    1.0  4.000000  ...
brgr               5.720   5.7200   5.72    1.0  3.000000  ...
da Umberto        12.270  12.2700  12.27    1.0  5.000000  ...
ilili Restaurant  24.200  29.2500  32.93   13.0  4.153846  ...
indikitch         11.665  12.8675  14.07    2.0  4.500000  ...

                 food_preparation_time       delivery_time                  \
                                   75%   max         count  mean       std
restaurant_name
'wichcraft                       28.00  28.0           1.0  28.0       NaN
12 Chairs                        27.75  28.0           2.0  29.0  4.242641
5 Napkin Burger                  26.75  27.0           2.0  21.0  0.000000
67 Burger                        20.00  20.0           1.0  28.0       NaN
Amma                             25.25  27.0           2.0  25.5  2.121320
...                                ...   ...           ...   ...       ...
Zero Otto Nove                   29.00  29.0           1.0  25.0       NaN
brgr                             24.00  24.0           1.0  26.0       NaN
da Umberto                       20.00  20.0           1.0  30.0       NaN
ilili Restaurant                 29.00  34.0          13.0  25.0  6.244998
indikitch                        29.75  33.0           2.0  28.0  2.828427


                   min    25%   50%    75%   max
restaurant_name
'wichcraft        28.0  28.00  28.0  28.00  28.0
12 Chairs         26.0  27.50  29.0  30.50  32.0
5 Napkin Burger   21.0  21.00  21.0  21.00  21.0
67 Burger         28.0  28.00  28.0  28.00  28.0
Amma              24.0  24.75  25.5  26.25  27.0
...                ...    ...   ...    ...   ...
Zero Otto Nove    25.0  25.00  25.0  25.00  25.0
brgr              26.0  26.00  26.0  26.00  26.0
da Umberto        30.0  30.00  30.0  30.00  30.0
ilili Restaurant  15.0  21.00  25.0  29.00  33.0
indikitch         26.0  27.00  28.0  29.00  30.0

[156 rows x 32 columns]

In [27]:
Clean_data.describe()

       cost_of_the_order       rating  food_preparation_time  delivery_time
count        1162.000000  1162.000000            1162.000000    1162.000000
mean           16.760766     4.344234              27.381239      24.154045
std             7.572578     0.741478               4.677922       4.930999
min             4.470000     3.000000              20.000000      15.000000
25%            12.130000     4.000000              23.000000      20.000000
50%            14.600000     5.000000              27.000000      25.000000
75%            22.750000     5.000000              32.000000      28.000000
max            35.410000     5.000000              35.000000      33.000000